# Python Pandas Series
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

# Creating a Pandas Series
Pandas Series can be created from the lists, dictionary, and from a scalar value etc. Series can be created in different ways, here are some ways by which we create a series:
### Creating an empty Series:
Series() function of Pandas is used to create a series. A basic series, which can be created is an Empty Series.

In [1]:
import pandas as pd

In [2]:
sr = pd.Series()
print(sr)

Series([], dtype: float64)

C:\Users\SOHAIL SONS TRADERS\AppData\Local\Temp\ipykernel_1508\1282916020.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sr = pd.Series()

# 1 Creating a series from Lists:

In [5]:
l = [11,22,33,44,55,66,77,88,99]
i = ['a','b','c','d','e','f','i','j','h']
sr1 = pd.Series(l,index=i)
print(sr1)

a    11
b    22
c    33
d    44
e    55
f    66
i    77
j    88
h    99
dtype: int64

# 2 Creating a series from array:

In [6]:
import numpy as np

In [8]:
a  = np.array([33,44,55,66,77,99])
i = ['a','b','c','d','e','f']
sr2  =  pd.Series(a,index=i)
print(sr2)

a    33
b    44
c    55
d    66
e    77
f    99
dtype: int32

# 3 Creating a series from Dictionary:

In [9]:
d = {'Ali':10,
     'Rizwan':33,
     'Tamoor':44,
     'Hamza':43}

In [10]:
d

{'Ali': 10, 'Rizwan': 33, 'Tamoor': 44, 'Hamza': 43}

In [11]:
sr3  = pd.Series(d)
print(sr3)

Ali       10
Rizwan    33
Tamoor    44
Hamza     43
dtype: int64

# 4 Creating a series from Scalar value:

In [13]:
sr4  = pd.Series(10,index=[1,2,3,4,5,6,7,8,9])
print(sr4)

1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64