# Aggregation Functions:
Pandas provides a variety of aggregation functions that allow you to compute statistics over columns, such as mean, sum, median, min, max, etc.

In [7]:
import pandas as pd

data = {
    'Student_ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 21, 19, 22, 20],
    'Grade': ['A', 'B', 'B', 'A', 'C'],
    'GPA': [3.8, 3.2, 3.4, 3.9, 2.7]
}

df = pd.DataFrame(data)

print(df)

   Student_ID     Name  Age Grade  GPA
0           1    Alice   20     A  3.8
1           2      Bob   21     B  3.2
2           3  Charlie   19     B  3.4
3           4    David   22     A  3.9
4           5      Eva   20     C  2.7

# Maximum()

In [8]:
df.max()

Student_ID      5
Name          Eva
Age            22
Grade           C
GPA           3.9
dtype: object

# Minimum()

In [9]:
df.min()

Student_ID        1
Name          Alice
Age              19
Grade             A
GPA             2.7
dtype: object

# Mean ()

In [10]:
df.mean()

C:\Users\SOHAIL SONS TRADERS\AppData\Local\Temp\ipykernel_19392\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Student_ID     3.0
Age           20.4
GPA            3.4
dtype: float64

# Sum()

In [11]:
df.sum()

Student_ID                         15
Name          AliceBobCharlieDavidEva
Age                               102
Grade                           ABBAC
GPA                              17.0
dtype: object

# Median ()

In [12]:
df.median()

C:\Users\SOHAIL SONS TRADERS\AppData\Local\Temp\ipykernel_19392\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Student_ID     3.0
Age           20.0
GPA            3.4
dtype: float64

# Count()

In [13]:
df.count()

Student_ID    5
Name          5
Age           5
Grade         5
GPA           5
dtype: int64

# Variance()

In [14]:
df.var()

C:\Users\SOHAIL SONS TRADERS\AppData\Local\Temp\ipykernel_19392\1568254755.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.var()

Student_ID    2.500
Age           1.300
GPA           0.235
dtype: float64

# Standard Deviation()

In [15]:
df.std()

C:\Users\SOHAIL SONS TRADERS\AppData\Local\Temp\ipykernel_19392\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

Student_ID    1.581139
Age           1.140175
GPA           0.484768
dtype: float64

# Unique Values Count()

In [17]:
df.nunique()

Student_ID    5
Name          5
Age           4
Grade         3
GPA           5
dtype: int64

In [18]:
df

   Student_ID     Name  Age Grade  GPA
0           1    Alice   20     A  3.8
1           2      Bob   21     B  3.2
2           3  Charlie   19     B  3.4
3           4    David   22     A  3.9
4           5      Eva   20     C  2.7