# Important Methods

In [1]:
import pandas as pd
data = {
    'StudentID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 21, 19, 20, 22],
    'Grade': ['A', 'B', 'C', 'B', 'A'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data)

In [4]:
 df2

   StudentID     Name  Age Grade         City
0          1    Alice   20     A     New York
1          2      Bob   21     B  Los Angeles
2          3  Charlie   19     C      Chicago
3          4    David   20     B      Houston
4          5      Eva   22     A        Miami

# equals:
This method is used to determine if two DataFrames are equal or not. It compares the values within the two DataFrames and returns a boolean value indicating whether they are the same or not.

In [5]:
eq = df1.equals(df2)

In [6]:
eq

True

# values:
The .values attribute of a DataFrame returns a two-dimensional NumPy array containing the underlying data of the DataFrame. This array does not include row and column labels.

In [7]:
df1.values

array([[1, 'Alice', 20, 'A', 'New York'],
       [2, 'Bob', 21, 'B', 'Los Angeles'],
       [3, 'Charlie', 19, 'C', 'Chicago'],
       [4, 'David', 20, 'B', 'Houston'],
       [5, 'Eva', 22, 'A', 'Miami']], dtype=object)

# size:
The .size attribute of a DataFrame returns the total number of elements in the DataFrame, which is the product of the number of rows and the number of columns.

In [8]:
df1.size

25

# shape:
The .shape attribute of a DataFrame returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the number of rows and the number of columns.

In [9]:
df1.shape

(5, 5)

# keys() and columns:
Both of these methods/attributes are used to obtain the column labels of a DataFrame. You can use either .keys() or .columns to retrieve the column labels as an Index object. The primary difference is that .keys() is a method, while .columns is a direct attribute.

In [10]:
df1.keys()

Index(['StudentID', 'Name', 'Age', 'Grade', 'City'], dtype='object')

In [11]:
df1.columns

Index(['StudentID', 'Name', 'Age', 'Grade', 'City'], dtype='object')