# Transpose()
The transpose() method transforms the columns into rows and the rows into columns.

In [1]:
import pandas as pd

In [2]:
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   age  qualified
0   50       True
1   40      False
2   30      False
3   40      False
4   20      False
5   10       True
6   30       True

In [6]:
df1 = df.transpose()

In [7]:
df1

              0      1      2      3      4     5     6
age          50     40     30     40     20    10    30
qualified  True  False  False  False  False  True  True

In [9]:
df2= df1.transpose()

In [10]:
df2

  age qualified
0  50      True
1  40     False
2  30     False
3  40     False
4  20     False
5  10      True
6  30      True

In [11]:
df2.transpose()

              0      1      2      3      4     5     6
age          50     40     30     40     20    10    30
qualified  True  False  False  False  False  True  True