# Prefix And Suffix

In pandas, the add_prefix and add_suffix methods are used to add a prefix or a suffix to the column names of a DataFrame. These methods are particularly useful when you want to quickly rename multiple columns in a DataFrame by adding a common prefix or suffix to their names.

In [1]:
import pandas as df
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = df.DataFrame(data)
df

   age  qualified
0   50       True
1   40      False
2   30      False
3   40      False
4   20      False
5   10       True
6   30       True

# add_prefix Method:
The add_prefix method adds a specified prefix string to the beginning of each column name in the DataFrame.

In [2]:
df.add_prefix('Before_')

   Before_age  Before_qualified
0          50              True
1          40             False
2          30             False
3          40             False
4          20             False
5          10              True
6          30              True

# add_suffix Method:
The add_suffix method adds a specified suffix string to the end of each column name in the DataFrame.

In [3]:
df.add_suffix('_After')

   age_After  qualified_After
0         50             True
1         40            False
2         30            False
3         40            False
4         20            False
5         10             True
6         30             True